.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
*log.txt
htmlcov/
.coverage
.coverage.*
*,cover
app/config.py
logs/*
RPi
grove.py/
grove.py