{% extends "layout.html" %}
{% block title %}Couch Potato{% endblock %}
{% block content %}
    <div class="border border-3 {{border_heating}} rounded mx-auto my-3 box">

        <div class="row mx-5 mt-3 mb-1">
            <div class="col border">
                <p class="text-center my-auto justify-content-cente"> Inside {{temp}} &degC</p>
            </div>
        </div>  

        <div class="row mx-5 mb-1">
            <div class="col border">
                <p class="text-center my-auto justify-content-cente"> Minimum {{min}} &degC </p>
            </div>
        </div>

        <div class="row mx-5 mb-2" >
            <div class="col border">
                <p class="text-center my-auto justify-content-cente"> Outside {{outsideTemp}} &degC </p>
            </div>
        </div>  

        <div class="col text-center">
            <form action="/process" method="POST">
                <input type="submit" name="button"  class="btn warm btn-lg my-2" value="Heat 1 Hour"> <br>
                <input type="submit" name="button"  class="btn hot btn-lg mb-2" value="Heat 2 Hours"> <br>
            </form>
        </div>

        <div class="row mx-5 mt-2 mb-3 my-2">
            <div class="col border">
                <p class="text-center my-auto justify-content-cente">{{humidity}}% Humidity</p>
            </div>
        </div>

    </div>

    <div class="border rounded mx-auto my-3 box ">
        <h4 class="text-center my-3"><a href="{{ url_for('settings') }}">Settings</a></h1>
    </div>
    
    <div class="border rounded mx-auto my-3 box ">
        <h4 class="text-center my-3"><a href="{{ url_for('summer') }}">Watering</a></h1>
    </div>
    
    

{% endblock %}    
